.main-finishing {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 500px;
  background-color: var(--secondary-bg-white);
  border-radius: 5px;
  border: 1px solid var(--gray);
  padding: 12px 15px;
}

.finishin-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 12px;
}

.finishin-plan-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.finishin-plan-text span {
  color: var(--principal-text);
  font-weight: 700;
}

.finishin-plan-text a {
  color: var(--gray);
  text-decoration: underline;
  cursor: pointer;
}

.finishin-plan-value {
  color: var(--principal-text);
  font-weight: 700;
}

.div-ons-main-container {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 12px;
}

.div-ons-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.ons-title {
  color: var(--gray);
  font-weight: 600;
}

.ons-price {
  color: var(--principal-text);
  font-weight: 700;
}

.total-price-container {
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price-date {
  color: var(--gray);
  font-weight: 600;
}

.total-price-bill {
  color: var(--principal-text);
  font-weight: 700;
}
