.main-div-form {
  width: 70%;
  height: calc(100vh - 20px);
  border-radius: 5px;
  background-color: var(--principal-bg-white);
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 660px) {
  .main-div-form {
    width: 90%;
    border-radius: 5px;
    margin-top: -70px;
    margin-bottom: 30px;
    padding: 15px 20px;
  }
}
