.App {
  width: 100%;
  min-height: auto;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  background-color: var(--secondary-bg-white);
}

.App h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--principal-text);
}

.App h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 35px;
}

.form-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--principal-text);
  color: var(--principal-bg-white);
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 0 0 auto;
}

@media only screen and (max-width: 660px) {
  .App {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .App h1 {
    font-size: 22px;
  }

  .App h3 {
    font-size: 14px;
  }
}
